<p id="notice"><%= notice %></p>

<h1>Shopping Cart No <%=@cart.id%></h1>

<% @cart.line_items.each do |line_item| %>

<div>
Amount: <%= line_item.quantity %>
</div>
<div>
<%= line_item.product.name %>
</div>
<div>
<%= line_item.product.description %>
</div>
line_item_id: <%= line_item.id %>
<div>
product_id: <%= line_item.product_id %>
</div>
Price Item:
<%= number_to_currency(line_item.product.price, unit: :£) %>

Total Price Item:
<%= number_to_currency(line_item.total_price_line_items, unit: :£) %>

<%= button_to '-', line_item, method: :delete %>

<%= button_to '+', line_item_path(line_item.id), :method => :put %>

<%end%>
<br>
<div>
  Total:
<%= number_to_currency(@cart.total_price_cart, unit: :£) %>
</div>

<% if user_signed_in? && @cart.line_items.any?%>

<div class = "payment_button">
<%= form_with(url: '/payments/create') do |form| %>
<%= form.hidden_field :cart_id, value: @cart.id %>
<%= render partial: "shared/stripe_checkout_button" %>
</div>

<% end %>

<% else %>

<% if @cart.line_items.any?%>

<div>
<%= link_to('Login to pay', new_user_session_path, class: "btn btn-sm btn-primary btn_product_index") %>
</div>
<% end %>
<% end %>





<%= link_to 'Empty Cart', @cart, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', carts_path %>
