<p id="notice"><%= notice %></p>

<h1>Shopping Cart No <%=@cart.id%></h1>

<% @cart.line_items.each do |line_item| %>

<div>
Amount: <%= line_item.quantity %>
</div>
<div>
<%= line_item.product.name %>
</div>
<div>
<%= line_item.product.description %>
</div>
line_item_id: <%= line_item.id %>
<div>
product_id: <%= line_item.product_id %>
</div>

<%= number_to_currency(line_item.product.price, unit: :£) %>


<%= button_to '-', line_item, method: :delete %>
<%= button_to '+', line_items_path(product_id: line_item.product_id), method: :add_product %>


<%end%>
<br>
<div>
  Total:
<%= number_to_currency(@cart.total_price, unit: :£) %>


</div>



<%= link_to 'Empty Cart', @cart, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', carts_path %>
