<div class="product_reviews">
  <hr>
  <h4>Customer Reviews</h4>
    <% @comments.each do |comment| %>

          <div class="user_reviews">
            <span><%= comment.user.first_name %> <span><%= comment.user.last_name %><small><em class="time_ago_in_words"><%= " #{time_ago_in_words(comment.created_at)} ago" %></em></small><span>
            <% if signed_in? && current_user.admin? %>
            <span><%= link_to ('<span class="fas fa-trash-alt"></span>').html_safe, product_comment_path(comment.product, comment), method: :delete, data: { confirm: 'Are you sure?' } %></span>
             <% end %>
            <!-- <p><%= "Rating: #{comment.rating}/5" %></p> -->
            <div><%= comment.body %></div>
            <div class="rated" data-score="<%= comment.rating %>"></div>

          </div>

    <% end %>
    <%= will_paginate @comments %>


</div
